@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

@keyframes heartRain {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.animate-heartRain {
  animation: heartRain 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 12s linear infinite;
}

